.conditions {
	@extend %padding;
	@extend %v-padding;

	background-color: #fff;

	&__header {
		margin: 20px auto;

		font-family: $ff_header;
		font-size: $fz2;
		font-weight: bold;
		line-height: $base-lh * 2;
		color: $c_text;
		text-align: center;
		text-transform: uppercase;
	}

	&__content-wrap {
		width: 100%;
		margin: 0 auto;

		@media only screen and ( min-width: 320px ) {
			width: 80%;
		}
	}

	&__header-small {
		font-family: $ff_header;
		font-size: $fz4;
		font-weight: bold;
		line-height: $base-lh * 2;
		color: $c_text;
		text-align: center;
	}

	&__text {
		font-family: $ff_text;
		font-size: $fz5;
		line-height: $base-lh;
		color: $c_text;
	}

	&__list {
		@extend %rwfss;
		margin: $base-lh 0;
	}

	&__item {
		width: 100%;

		@media only screen and ( min-width: 769px ) {
			width: 50%;
		}
	}

	&__icon {
		margin-right: 10px;

		font-size: $fz5;
		line-height: $base-lh * 2;
		color: $c_logo;
	}

	&__item-text {
		font-family: $ff_text;
		font-size: $fz5;
		line-height: $base-lh * 2;
		color: $c_text;
	}
}